<mat-stepper>
  <mat-step label="Step 1" state="phone">
    <div class="form__agentes">
      <h4>Selecione os agentes de plantão</h4>
      <mat-form-field appearance="outline">
        <mat-label>Agente</mat-label>
        <mat-select required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let agente of agentes" [value]="agente">
            {{ agente.nome }}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
        <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
      </mat-form-field>
    </div>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 2" state="chat">
    <p>Socialize with each other.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 3">
    <p>You're welcome.</p>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-stepper>
