.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.botao {
  display: flex;
}

.equipe {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.equipe__agentes {
  display: flex;
  gap: 20px;
}

.equipe__sel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__equipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chip {
  display: flex;
  gap: 9px;
}

.margin {
  margin-left: 16px;
}

.form__permulta {
  margin-top: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.agentes__plantao {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  align-items: center;
}

.permultas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.permultas__esq {
  display: flex;
  flex-direction: column;
}

.agente__permulta {
  margin-top: 20px;
}

.chip__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.reforco {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
}

.divider {
  margin-top: 20px;
}

.agente__reforco {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.form__header {
  display: flex;
  flex-direction: column;
}

.relatorio__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.step5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
}

.relatorio {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 85%;
}

.relatorio__main {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.assinatura {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.equipe__reforco {
  display: flex;
}


