.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.botao {
  display: flex;
}

.equipe {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.equipe__agentes {
  display: flex;
  gap: 70px;
}

.form__equipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chip {
  display: flex;
  gap: 9px;
}

.margin {
  margin-left: 16px;
}

.form__chips {
  margin-bottom: 20px;
}

.form__permulta {
  margin-top: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.agentes__plantao {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  align-items: center;
}

.permultas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agente__permulta {
  margin-top: 20px;
}

.chip__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.reforco {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.agente__reforco {
  display: flex;
}
