  <div class="list-relatorio">
    <mat-accordion>
      <mat-expansion-panel class="mat-expansion" *ngFor="let relatorio of relatorios">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Nome da equipe: {{ relatorio.nomeequipe }}
          </mat-panel-title>
          <mat-panel-description>
            <!-- Nome da equipe: {{ relatorio.agentesdaequipe }} -->
            Data do relatório: {{relatorio.datadorelatorio}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        Data do Relatório:
        <p>{{ relatorio.datadorelatorio }}</p>
        Agentes da equipe:
        <p>{{ relatorio.agentesdaequipe }}</p>
        Permultas:
        <p>{{ relatorio.agentesparapermultar }}</p> Permultou com <p>{{ relatorio.agentedefolgaparapermultar }}</p>
        Reforço:
        <p>{{ relatorio.agentesparareforco }}</p>
        Faltas:
        <p>{{ relatorio.agentesfaltoso }}</p>

        <p>{{ relatorio.texto1 }}</p>
        <p>{{ relatorio.texto2 }}</p>
        <p>{{ relatorio.texto3 }}</p>
        <div class="nome_inspetor">
          Inspetor:
          <p>{{ relatorio.nomeinspetor }}</p>
        </div>
        <section>
          <div class="example-button-row">
            <!-- <a mat-raised-button (click)="editarRelatorio(relatorio)">Editar relatório</a> -->
            <a mat-raised-button (click)="generatePDF2(relatorio)">Imprimir relatório</a>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <button mat-fab color="primary" class="add-btn" (click)="novoRelatorio()" matTooltip="Novo Relatório">
    <mat-icon>add</mat-icon>
  </button>
  <!-- <button mat-button (click)="novoRelatorio()">Novo relatorio</button> -->
<button mat-button *ngIf="addRelatorio" (click)="voltarListagemRelatorio()">Cancelar</button>
