mat-list-item {
  padding: 10px 0;
}

.equipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.mat-nome-horario {
  display: flex;
}

.chip {
  display: flex;
  gap: 9px;
}

.margin {
  margin-left: 16px;
}

.dir-data {
  display: flex;
  flex-direction: column;
}

.form__agentes {
  margin-top: 30px;
}

.form__header {
  display: flex;
  flex-direction: column;
}

.nome__equipe {
  margin-left: 30px;
}

.equipe__sel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__equipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider {
  margin-top: 20px;
}

.agentes__plantao {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  align-items: center;
}

.agente__permulta {
  margin-top: 20px;
}

.permultas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.permultas__esq {
  display: flex;
  flex-direction: column;
}

.equipe__agentes {
  display: flex;
  gap: 20px;
}

.chip__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.form__permulta {
  margin-top: 20px;
}

.reforco {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
}

.divider {
  margin-top: 20px;
}

.agente__reforco {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.equipe__reforco {
  display: flex;
}

.radio {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.form__text {
  margin-top: 30px;
}

.example-full-width {
  width: 100%;
}

.text-area {
  min-height: 60px;
}

.icon-permulta {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.mat-nome-permulta {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.container_horarios {
  margin-right: 20px;
}
.pessoa-card {
  display: flex;
}

.mat-card-btn {
  display: flex;
  justify-content: flex-end;
}

.reg-horas {
  display: grid;
  grid-template-columns: 4fr 4fr;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

.mat-card {
  margin-bottom: 10px;
}

.mat-card-agente {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 16px;
}

.example-viewport {
  height: 700px;
  margin-left: 30px;
  margin-right: 30px;
}

.example-item {
  height: 50px;
}

.step5 {
  width: 660px; /* Defina a largura desejada */
  margin: 0 auto; /* Centralize o conteúdo na página */
  font-family: Arial, sans-serif; /* Escolha a fonte desejada */
}

.relatorio {
  display: flex;
  max-width: 80%;
  margin: 57px;
  flex-direction: column;
}

.relatorio__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.relatorio__principal {
  margin-top: 20px;
}

.relatorio__main {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.equipe__per {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.equipe__agentes-permulta {
  display: flex;
  flex-direction: column;
}

.assinatura {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.spinner {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .mat-card-agente {
    grid-template-columns: 1fr;
  }

  .equipe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .agentes__plantao {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    align-items: center;
    flex-direction: column;
  }

  .permultas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .reforco {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    max-width: fit-content;
  }

  .agente__reforco {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    flex-direction: column;
  }

  .mat-card-btn {
    display: flex;
    justify-content: center;
  }
}
