<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
<mat-stepper #stepper>
  <mat-step label="Step 1" state="phone">
    <div>
      <h2>Selecione a data do relatório</h2>
      <form [formGroup]="dataForm" class="equipe">
        <mat-form-field appearance="outline">
          <mat-label>Selecione a data</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataRelatorio" (ngModelChange)="atualizaControlDeDatas()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="dir-data" *ngIf="dataRelatorio">
          <h3>Data do Relatório:</h3>
          <span>{{ dataRelatorio }}</span>
        </div>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="form__agentes" *ngIf="!agentesDaEquipe.length">
      <h2>Selecione a equipe de plantão</h2>
      <div class="equipe">
        <mat-form-field appearance="outline">
          <mat-label>Equipe</mat-label>
          <mat-select required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let equipe of equipes" [value]="equipe" (click)="selecionarEquipe(equipe)">
              {{ equipe.nome }}
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint>   /assets/images/avatarNull.png -->
        </mat-form-field>
        <!-- <button mat-fab color="primary" class="add-btn" (click)="adicionarEquipeAoRelatorio()" matTooltip="Adicionar equipe">
          <mat-icon>add</mat-icon>
        </button> -->
      </div>
    </div>
    <div class="form__chips" *ngIf="equipeSelecionada">
      <header class="form__header">
        <span>Nome da equipe:</span>
        <h2 class="nome__equipe">{{ equipeSelecionada.nome }}</h2>
      </header>
      <div class="form__equipe">
        <div class="equipe__sel">
          <span>Agentes da equipe:</span>
          <mat-chip-list *ngFor="let agente of equipeSelecionada.membros">
              <mat-chip>
                <img matChipAvatar src="/assets/images/avatarNull.png" alt="Agente da Equipe"/>
                {{ agente.nome }}
              </mat-chip>
          </mat-chip-list>
        </div>
        <button mat-button (click)="escolherOutraEquipe()">Voltar</button>
      </div>
    </div>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Step 2" state="phone">
    <div class="form__permulta">
      <h2>Houve permulta</h2>

        <mat-radio-group [(ngModel)]="escolha" (change)="ouvePermulta()">
          <mat-radio-button color="primary" class="margin" value="sim">sim</mat-radio-button>
          <mat-radio-button color="primary" class="margin" value="não">não</mat-radio-button>
        </mat-radio-group>

        <div class="agentes__plantao" *ngIf="!agentesDeFolgaEscolhidoParaPermulta.length">
          <div>
            <div class="agente__permulta" *ngIf="escolha === 'sim'">
              <h3>Selecione o agente</h3>
              <mat-form-field appearance="outline">
                <mat-label>Agente</mat-label>
                <mat-select required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let agente of equipeSelecionada.membros" [value]="agente" (click)="selecionarPermulta(agente)">
                    {{ agente.nome }}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="verificarSeAgenteEstaDeDisponivel()">Please choose an animal</mat-error> -->
                <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint>   /assets/images/avatarNull.png -->
              </mat-form-field>
            </div>

            <div class="agente__permulta" *ngIf="escolha === 'sim'">
              <h3>Selecione o substituto</h3>
              <mat-form-field appearance="outline">
                <mat-label>Agente</mat-label>
                <mat-select required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let agente of agentes" [value]="agente" (click)="selecionarAgenteDeFolga(agente)">
                    {{ agente.nome }}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
                <mat-hint>{{animalControl.value?.sound}}</mat-hint>   /assets/images/avatarNull.png -->
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="escolha === 'sim'">
            <button mat-button (click)="voltar()">Voltar</button>
            <button mat-fab color="primary" class="add-btn" (click)="criarPermulta()" matTooltip="Criar permulta">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="escolha === 'sim' && agentesDeFolgaEscolhidoParaPermulta.length">
          <div class="permultas">
            <div class="permultas__esq">
              <h2>Permultas</h2>
              <div class="equipe__agentes">
                <div class="form__chips" *ngIf="agenteParaPermulta">
                  <span>agente que vai permultar:</span>
                  <mat-chip-list>
                    <div class="chip__list">
                      <mat-chip *ngFor="let agentePermulta of agentesParaPermulta" skjhakha>
                        <img matChipAvatar src="/assets/images/avatarNull.png" alt="Avatar agente"/>
                        {{ agentePermulta.nome }}
                      </mat-chip>
                    </div>
                  </mat-chip-list>
                </div>

                <div class="form__chips" >
                  <span>substituto:</span>
                  <mat-chip-list>
                    <div class="chip__list">
                      <mat-chip *ngFor="let agenteDeFolga of agentesDeFolgaEscolhidoParaPermulta2">
                        <img matChipAvatar src="/assets/images/avatarNull.png" alt="Avatar agente"/>
                        {{ agenteDeFolga.nome }}
                      </mat-chip>
                    </div>
                  </mat-chip-list>
                </div>
              </div>
            </div>
            <div>
              <button mat-button (click)="refazerPermultas()">Cancelar</button>
              <button mat-fab color="primary" class="add-btn" (click)="adicionarMaisPermulta()" matTooltip="Adicionar permulta">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="divider">
          <mat-divider></mat-divider>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </div>
  </mat-step>

  <mat-step label="Step 3" state="phone">
    <div class="form__permulta">
      <h2>Houve Reforço</h2>

        <mat-radio-group [(ngModel)]="escolha2" (change)="ouveReforco()">
          <mat-radio-button color="primary" class="margin" value="sim">sim</mat-radio-button>
          <mat-radio-button color="primary" class="margin" value="não">não</mat-radio-button>
        </mat-radio-group>

        <div class="reforco" *ngIf="escolha2 === 'sim'">
          <h3>Selecione o reforço</h3>
          <div class="agente__reforco">
            <mat-form-field appearance="outline">
              <mat-label>Agente</mat-label>
              <mat-select required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let agente of agentes" [value]="agente" (click)="selecionarAgenteDeFolgaParaReforco(agente)">
                  {{ agente.nome }}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
              <mat-hint>{{animalControl.value?.sound}}</mat-hint>   /assets/images/avatarNull.png -->
            </mat-form-field>

            <button mat-fab color="primary" class="add-btn" (click)="addAgenteReforco()" matTooltip="Adicionar agente de reforço">
              <mat-icon>add</mat-icon>
            </button>
          <div>
        </div>
      </div>

      <mat-chip-list *ngIf="agentesDeFolgaParaReforco.length" >
        <div class="chip__list">
          <mat-chip *ngFor="let itemSel of agentesDeFolgaParaReforco">
            <img matChipAvatar src="/assets/images/avatarNull.png" alt="Avatar agente"/>
            {{ itemSel.nome }}
          </mat-chip>
        </div>
      </mat-chip-list>
    </div>

    <div class="divider">
      <mat-divider></mat-divider>
    </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </div>
  </mat-step>

  <mat-step label="Step 4" state="phone">
    <div class="form__permulta">
      <h2>Houve Faltas</h2>

        <mat-radio-group [(ngModel)]="escolha3" (change)="ouveFaltas()">
          <mat-radio-button color="primary" class="margin" value="sim">sim</mat-radio-button>
          <mat-radio-button color="primary" class="margin" value="não">não</mat-radio-button>
        </mat-radio-group>

        <div class="reforco" *ngIf="escolha3 === 'sim'">
          <h3>Selecione o agente que faltou</h3>
          <div class="agente__reforco">
            <mat-form-field appearance="outline">
              <mat-label>Agente</mat-label>
              <mat-select required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let agente of equipeSelecionada.membros" [value]="agente" (click)="selecionarAgenteQueFaltou(agente)">
                  {{ agente.nome }}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
              <mat-hint>{{animalControl.value?.sound}}</mat-hint>   /assets/images/avatarNull.png -->
            </mat-form-field>

            <button mat-fab color="primary" class="add-btn" (click)="addAosAgentesFalta()" matTooltip="Adicionar agentes que faltaram.">
              <mat-icon>add</mat-icon>
            </button>
          <div>
        </div>
      </div>

      <mat-chip-list *ngIf="agentesFaltosos.length" >
        <div class="chip__list">
          <mat-chip *ngFor="let itemSel of agentesFaltosos">
            <img matChipAvatar src="/assets/images/avatarNull.png" alt="Avatar agente"/>
            {{ itemSel.nome }}
          </mat-chip>
        </div>
      </mat-chip-list>
    </div>

    <div class="divider">
      <mat-divider></mat-divider>
    </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </div>
  </mat-step>
  <mat-step label="Step 5" state="chat">
    <h2>HORÁRIOS DOS AGENTES</h2>
    <div class="container_horarios" *ngIf="equipeSelecionada">
      <h2>Agentes da equipe do dia.</h2>
      <!-- <ng-container *ngIf="!registroDeHoras"> -->
        <mat-card class="mat-card" *ngFor="let agente of equipeSelecionada.membros">
          <form [formGroup]="horariosForm">
            <div class="mat-card-agente">
              <div class="mat-nome-permulta">
                <div class="mat-nome-horario">
                  <mat-card-title>{{ agente.nome }}</mat-card-title>
                  <ng-container *ngFor="let agenteFaltou of agentesFaltosos">
                    <mat-radio-button *ngIf="agente.id === agenteFaltou.id" checked="true" color="primary" class="margin" value="falta">falta</mat-radio-button>
                  </ng-container>

                </div>
                <ng-container *ngFor="let itemAgente of agentesParaPermulta; let i = index">
                  <ng-container *ngIf="itemAgente.id === agente.id">
                    <div class="icon-permulta">
                      <mat-icon>sync</mat-icon>
                      <span>
                        PERMULTA
                      </span>
                    </div>
                    <mat-card-title>{{ agentesDeFolgaEscolhidoParaPermulta2[i].nome }} </mat-card-title>
                  </ng-container>
                </ng-container>
              </div>
<!-- CONTINUAR AQUI FAZENDO A LÓGICA PARA DESAPARECER COM CHEGADA E SAIDA PARA APARECER JUSTIFICATIVA -->
 <!--  <ng-container *ngFor="let agenteFaltou of agentesFaltosos">
                    <mat-radio-button *ngIf="agente.id === agenteFaltou.id" checked="true" color="primary" class="margin" value="falta">falta</mat-radio-button>
                  </ng-container> -->
              <ng-container *ngFor="let agenteFaltou of agentesFaltosos">
                <ng-container *ngIf="agente.id !== agenteFaltou.id">
                  <mat-form-field appearance="fill">
                    <mat-label>Chegada</mat-label>
                    <input matInput  formControlName="chegada" name="chegada" required type="time">
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Saída</mat-label>
                    <input  matInput formControlName="saida" name="saida" required type="time">
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="agente.id === agenteFaltou.id">
                  <mat-form-field appearance="fill">
                    <mat-label>Justificativa</mat-label>
                    <textarea matInput formControlName="justificativa" name="justificativa" placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>
                </ng-container>
              </ng-container>
            </div>
          </form>
          <div class="mat-card-btn">
            <button mat-raised-button color="primary" (click)="salvarHorarios(agente.id)">Salvar horários</button>
          </div>
        </mat-card>
      <!-- </ng-container> -->
    </div>

    <div *ngIf="registroDeHoras">
      <mat-card class="registro-card">
        <mat-card-header>
          <mat-card-title>Detalhes do Registro</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <!-- Informações do Usuário -->
            <mat-list-item>
              <mat-icon style="color: #3f51b5;" matListIcon>person</mat-icon>
              <h3 matLine>{{ registroDeHoras.usuario.nome }}</h3>
              <p matLine>Função: {{ registroDeHoras.usuario.funcao }}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

            <!-- Data do Registro -->
            <mat-list-item>
              <mat-icon matListIcon>calendar_today</mat-icon>
              <p matLine>Data: {{ registroDeHoras.data }}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

            <!-- Horário de Entrada -->
            <mat-list-item>
              <mat-icon matListIcon>login</mat-icon>
              <p matLine>Hora de Entrada: {{ registroDeHoras.horaEntrada }}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

            <!-- Horário de Saída -->
            <mat-list-item>
              <mat-icon matListIcon>logout</mat-icon>
              <p matLine>Hora de Saída: {{ registroDeHoras.horaSaida }}</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <h2>Agentes de reforço.</h2>
    <div class="container_horarios" *ngIf="agentesDeFolgaParaReforco.length">
      <mat-card class="mat-card" *ngFor="let agente of agentesDeFolgaParaReforco">
        <form [formGroup]="horariosAgentesFolgaForm">
          <div class="mat-card-agente">
            <div class="mat-nome-permulta">
              <mat-card-title>{{ agente.nome }}</mat-card-title>
            </div>

            <mat-form-field appearance="fill">
              <mat-label>Chegada</mat-label>
              <input matInput formControlName="chegada" name="chegada" required type="time">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Saída</mat-label>
              <input  matInput formControlName="saida" name="saida" required type="time">
            </mat-form-field>
          </div>
        </form>
        <div class="mat-card-btn">
          <button mat-raised-button color="primary" (click)="salvarHorarios2(agente.id)">Salvar horários</button>
        </div>
      </mat-card>
    </div>


    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Step 6" state="chat">
    <h2>Houve alteração</h2>
    <mat-radio-group [(ngModel)]="alteracaoEscolha" aria-label="Select an option" color="primary" class="radio">
      <mat-radio-button *ngFor="let item of alteracao" [value]="item">{{ item }}</mat-radio-button>
      <!-- <mat-radio-button value="sim">Sim</mat-radio-button> -->
    </mat-radio-group>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <form [formGroup]="textRelatorioForm" class="form__text">
      <h2>Detalhes do serviço diário</h2>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Relatório de serviço</mat-label>
        <textarea matInput
                  class="text-area"
                  formControlName="text1" name="text1"
                  #message1
                  maxlength="253"
                  required
                  placeholder="Ex. Fiz o serviço com equipe especificada anterior...">
        </textarea>
        <mat-hint align="start">
          <strong>
            Caso o tamanho seja insuficiente aparecerá novo input abaixo.
          </strong>
        </mat-hint>
        <mat-hint align="end">{{message1.value.length}} / 256</mat-hint>
      </mat-form-field>
      <!-- <button mat-button color="primary" (click)="teste()">Primary</button> -->

      <ng-container *ngIf="message1.value.length > 250">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Relatório de serviço</mat-label>
          <textarea matInput
                    id="text2"
                    class="text-area"
                    formControlName="text2" name="text2"
                    #message2
                    maxlength="253"
                    placeholder="Ex. Fiz o serviço com equipe especificada anterior...">
          </textarea>
          <mat-hint align="start"><strong>Caso o tamanho seja insuficiente aparecerá novo input abaixo.</strong> </mat-hint>
          <mat-hint align="end">{{message2.value.length}} / 256</mat-hint>
        </mat-form-field>

        <ng-container *ngIf="message2.value.length > 250">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Relatório de serviço</mat-label>
            <textarea matInput
                      class="text-area"
                      formControlName="text3" name="text3"
                      #message3
                      maxlength="253"
                      placeholder="Ex. Fiz o serviço com equipe especificada anterior...">
            </textarea>
            <mat-hint align="start"><strong>Ultimo.</strong> </mat-hint>
            <mat-hint align="end">{{message3.value.length}} / 256</mat-hint>
          </mat-form-field>
        </ng-container>
      </ng-container>

    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="mostraRelatorio()">Next</button>
    </div>
  </mat-step>

  <mat-step label="Step 7">
    <p>RELATÓRIO PARA CONFERENCIA E SALVAR</p>
    <div class="step5">
      <div class="relatorio">


          <header class="relatorio__header">
            <span>**************ESTADO DO MARANHÃO******************</span>
            <span>**********PREFEITURA MUNICIPAL DE ROSÁRIO*********</span>
            <span>DEPARTAMENTO MUNICIPAL DE TRÂNSITO E TRANSPORTE</span>
          </header>
          <main class="relatorio__main" id="content" #content>
            <span>RELATÓRIO DO DIA {{ dataRelatorio }}</span>
            <span>HOUVE ALTERAÇÃO</span>
            <span>{{ alteracaoEscolha }}</span> <!--CORRIGIR AQUI -->
            <span>NOME DA EQUIPE:</span>
            <span>{{ equipeSelecionada?.nome }}</span>
            <span>INSPETOR:</span>
            <div class="equipe__insp">
              <span>JOAQUIM MARTINS DA SILVA</span>
              <!-- <span *ngFor="let item of agentesDaEquipeParaSalvar">{{ item.funcao === "INSPETOR" ? item.nome : null }}</span> -->
            </div>
            <span>AGENTES:</span>
            <div class="equipe__rel" *ngFor="let agente of agentesDaEquipeParaSalvar">
              <span>{{ agente.nome }}, </span>
            </div>
            <ng-container *ngIf="agentesParaPermulta.length">
              <span>PERMULTAS:</span>
              <div class="equipe__per">
                <div class="equipe__agentes-permulta">
                  <span *ngFor="let agente of agentesParaPermulta">{{ agente.nome }}, </span>
                </div>
                <span> PERMULTA COM </span>
                <div class="equipe__agentes-permulta">
                  <span *ngFor="let agenteFolga of agentesDeFolgaEscolhidoParaPermulta2">{{ agenteFolga.nome }}, </span>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="agentesDeFolgaParaReforco.length">
              <span>REFORÇO:</span>
              <div class="equipe__reforco">
                <span *ngFor="let item of agentesDeFolgaParaReforco">
                  {{ item.nome }},
                </span>
              </div>
            </ng-container>

             <ng-container *ngIf="agentesFaltosos.length">
              <span>FALTAS:</span>
              <div class="equipe__reforco">
                <span *ngFor="let item of agentesFaltosos">
                  {{ item.nome }},
                </span>
              </div>
            </ng-container>

            <div class="relatorio__principal">
              <p>{{ text1 }}</p>
              <p>{{ text2 }}</p>
              <p>{{ text3 }}</p>

              <div class="assinatura">
                <p> Assinatura: </p>
                <p>Marcio dos Santos </p>
                <p>Agente de Trânsito</p>
              </div>
            </div>
          </main>
          <button mat-raised-button  color="primary" (click)="salvarRelatorio()">Salvar</button>

      </div>
    </div>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-stepper>
</cdk-virtual-scroll-viewport>
