.agentes {
  display: flex;
  justify-content: flex-start;
}

.xis {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.li-list {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  width: 50%;
}

.escalas {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 100px;
  overflow-y: auto;
}
