<mat-card>
  <mat-card-header>
    <mat-card-title>Informações da Equipe</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Nome da Equipe:</strong>  {{ data.equipe.nomeequipe }} </p>
    <p><strong>Membros:</strong></p>
    <ul>
      <li *ngFor="let membro of data.agentes">{{ membro.nome }}</li>
    </ul>
    <p><strong>Escala da equipe:</strong>  espaço destinado a mostrar a escala de serviço desta equipe
    ou pelo menos as datas </p>
  </mat-card-content>
</mat-card>

