<mat-card>
  <mat-card-header>
    <mat-card-title>Informações da Equipe</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="!loadEquipe"><strong>Nome da Equipe:</strong>  {{ equipeCarregada.nomeequipe }} </p>
    <form [formGroup]="equipeForm">
      <mat-form-field appearance="outline" *ngIf="loadEquipe">
        <mat-label>Nome da equipe:</mat-label>
        <input matInput formControlName="nome" name="nome" placeholder="equipe 01">
      </mat-form-field>
    </form>
    <p><strong>Membros:</strong></p>
    <ul>
      <li *ngFor="let membro of data.agentes">{{ membro.nome }}</li>
    </ul>
    <p><strong>Escala da equipe:</strong>  espaço destinado a mostrar a escala de serviço desta equipe
    ou pelo menos as datas </p>
  </mat-card-content>
</mat-card>
<button mat-button (click)="editarEquipe()" color="primary" *ngIf="!loadEquipe">Editar informações?</button>
<button mat-button (click)="salvarEquipe()" color="primary" *ngIf="loadEquipe">Salvar</button>

