.container {
  margin: auto;
  text-align: center;
}

mat-card {
  margin-top: 20px;
  padding: 15px;
}

table {
  width: 100%;
  margin-top: 15px;
}

.tab-reg-hor {
  max-height: 700px;
  overflow-y: auto;
}

.error {
  color: red;
  font-weight: bold;
}

.tabela-scroll {
  max-height: 100px; /* ou 500px, como preferir */
  overflow-y: auto;
}

.tabela-scroll {
  max-height: calc(100vh - 250px); /* ajusta de acordo com seu layout */
  overflow-y: auto;
}

table {
  width: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
}
