<mat-card class="example-card">
  <div class="mat-ponto">
    <mat-card-header class="mat-card">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{ equipe.nomeequipe }} </mat-card-title>
      <!-- <div class="form__chips">
        <mat-chip-list aria-label="Agentes-Selecionados">
          <mat-chip *ngFor="let agente of agentesDaEquipe">
              <img matChipAvatar src="/assets/images/avatarNull.png" alt="Avatar agente"/>
              {{ agente.nome }}
            </mat-chip>
          </mat-chip-list>
      </div> -->
    </mat-card-header>
    <div class="list__card-column list__card-column--action">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editarEquipe()">
          <mat-icon>visibility</mat-icon>
          <span>Ver detalhes</span>
        </button>
        <button mat-menu-item>
          <mat-icon>voicemail</mat-icon>
          <span>Deletar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
