<!-- <div *ngIf="agentes.length"> -->
  <div class="form__chips" *ngIf="agentesSelecionados">
    <mat-chip-list aria-label="Agentes-Selecionados">
      <mat-chip *ngFor="let itemSel of agentesSelecionados">
        <img matChipAvatar src="/assets/images/avatarNull.png" alt="Avatar agente"/>
        {{ itemSel.nome }}
      </mat-chip>
    </mat-chip-list>
  </div>
  <!--
   -->

  <button mat-fab color="primary" class="add-btn" (click)="addAgente()" matTooltip="Adicionar agente">
    <mat-icon>add</mat-icon>
  </button>


  <div class="main shadow-light" *ngIf="add">
    <header class="header">
      <h1>Cadastro de agente de trânsito</h1>
    </header>
    <form [formGroup]="agenteForm">
      <div class="main__form">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" name="nome" required placeholder="Ex.: Jair Messias">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Função</mat-label>
          <input matInput formControlName="funcao" name="funcao" required placeholder="Ex.: Agente de trânsito">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo" name="codigo" required placeholder="Ex.: 2407">
        </mat-form-field>
        <div class="button">
          <button mat-button color="primary" (click)="salvar ? salvarAgente() : atualizarAgente()" >
            {{ salvar ? 'Salvar' : 'Atualizar' }}
          </button>
          <button mat-button color="warn" (click)="limparCampos()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>

  <div class="agentes" *ngIf="agentes.length && !add">
    <section class="list">
      <ng-container *ngFor="let agente of agentes">
        <div class="list__card shadow-light">
          <div class="list__card-column list__card-column--avatar">
            <img class="paciente-avatar" src="https://toppng.com/uploads/preview/cool-avatar-transparent-image-cool-boy-avatar-11562893383qsirclznyw.png" alt="Foto Paciente" />
          </div>

          <div class="list__card-column list__card-column--paciente">
            <span class="subtitle-2">{{ agente.nome }}</span>
            <span class="body-2">{{ agente.funcao }}</span>
          </div>
          <div class="list__card-column list__card-column--action">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="adicionarParaAtualizarAgente(agente)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </ng-container>
    </section>
  </div>
<!-- </div> -->
<!-- <button mat-fab color="primary"  class="add-btn" matTooltip="Adicionar agente">
  <mat-icon>add</mat-icon>
</button> -->

<div *ngIf="!agentes.length && !add">
  <span>não existe nenhum agente cadastrado!</span>
    <!-- <app-no-results></app-no-results> -->
</div>

