<header>
  <span class="header">Criar Escala de serviço</span>
</header>
<form [formGroup]="escalaForm">
  <div class="inputs">
    <mat-form-field appearance="outline">
      <mat-label>Data inicial</mat-label>
      <input matInput formControlName="data" name="data" required placeholder="Ex.: 12/09/2023">
    </mat-form-field>
  </div>
  <div class="form__agentes" >
    <h2>Selecione a equipe</h2>
    <div class="equipe">
      <mat-form-field appearance="outline">
        <mat-label>Equipe</mat-label>
        <mat-select required formControlName="equipe_id">
          <mat-option>--</mat-option>
          <mat-option  *ngFor="let equipe of equipes" [value]="equipe.id" name="equipe_id" required >
            {{ equipe.nome }}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint>   /assets/images/avatarNull.png -->
      </mat-form-field>
      <button mat-fab color="primary" (click)="criarEscala()" class="add-btn" matTooltip="Criar escala de serviço">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</form>
