.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dia {
  width: 125px;
  height: 100px;
  background-color: darkgrey;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  flex-direction: column;
}

.dia_hoje {
  width: 125px;
  height: 100px;
  background-color: #00FF00;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  flex-direction: column;
}

.container {
  cursor: pointer;
  margin: 10px;
}

.dia {
  width: 168px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.dia_hoje {
  width: 168px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.dia:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dia_hoje:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(156, 13, 13, 0.2);
}
