<div class="container">
  <header>
    <h3>{{ diaSemana | uppercase }}</h3>
  </header>
  <div class="dia" *ngIf="dataAtual != dia.data">
    <span>NOME DA EQUIPE: </span>
    <span>{{ equipe?.nome }}</span>
    <span>{{ dia?.data }}</span>
  </div>
  <div class="dia_hoje" *ngIf="dataAtual === dia.data">
    <span>NOME DA EQUIPE: </span>
    <span>{{ equipe?.nome }}</span>
    <span>{{ dia?.data }}</span>
  </div>
</div>
<!--
<div class="container">
  <mat-card class="dia">
    <mat-card-header>
      <mat-card-title>{{ diaSemana }}</mat-card-title>
      <mat-card-subtitle>{{ dia?.data | date: 'DD/MM/YYYY' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Equipe do dia: {{ equipe?.nome }}</p>
    </mat-card-content>
  </mat-card>
</div>

<!-- Card de detalhes (modal/dialog) -->
 -->
