<div *ngIf="escalasResponse.length">
  <div>
    <h2>Equipe do dia</h2>
  </div>
  <div *ngIf="escalaResponse">
    <app-equipe-plantao [escalaResponse]="escalaResponse"></app-equipe-plantao>
  </div>
  <div class="dashboard">
    <ng-container *ngFor="let escalaDia of escalasResponse">
      <app-dia [dia]="escalaDia"></app-dia>
    </ng-container>
  </div>
</div>
<div *ngIf="!escalasResponse.length">
  <!-- <span>não tem resultado</span> -->
  <app-no-results></app-no-results>
</div>
<button mat-fab color="primary" (click)="criarEscalaDeServico()" class="add-btn" matTooltip="Criar escala de serviço">
  <mat-icon>add</mat-icon>
</button>

