<div class="menu shadow-light">
  <header class="header mat-elevation-z8">
    <mat-icon><span class="material-symbols-outlined">
      taxi_alert
      </span></mat-icon>
    <h1>Notificar</h1>
  </header>
  <div class="container mat-elevation-z8">
    <form class="form">
      <div class="form__main">
        <button mat-stroked-button color="primary">
          <mat-icon>
            <span class="material-symbols-outlined">
              add_a_photo
            </span>
          </mat-icon>
        </button>
        <form [formGroup]="formPlaca" class="form__input">
          <button mat-stroked-button class="button">
            <mat-icon>car_crash</mat-icon>
          </button>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Digite a placa:</mat-label>
            <input matInput type="text" formControlName="placa" name="placa" required placeholder="PTG-1234 OU PTG-1B34">
          </mat-form-field>
          <button mat-stroked-button class="button" (click)="buscarInformacao()">
            <mat-icon>search</mat-icon>
          </button>
        </form>
        <div class="spinner" *ngIf="spinner">
          <mat-spinner></mat-spinner>
        </div>
        <form [formGroup]="formMarcaModeloEsp">
          <div class="form__input">
            <button mat-stroked-button class="button">
              <mat-icon>emoji_transportation</mat-icon>
            </button>
            <mat-form-field appearance="outline" class="input">
              <mat-label>Marca / Modelo / Cor:</mat-label>
              <input matInput type="text" formControlName="marcaModelo" name="marcaModelo" required placeholder="HONDA CIVIC">
            </mat-form-field>
            <button mat-stroked-button class="button">
              <mat-icon>emoji_transportation</mat-icon>
            </button>
          </div>

          <div class="form__input">
            <button mat-stroked-button class="button">
              <mat-icon>emoji_transportation</mat-icon>
            </button>
            <mat-form-field appearance="outline" class="input">
              <mat-label>Espécie:</mat-label>
              <input matInput type="text" formControlName="especie" name="especie" required placeholder="PASSAGEIRO">
            </mat-form-field>
            <button mat-stroked-button class="button">
              <mat-icon>emoji_transportation</mat-icon>
            </button>
          </div>
        </form>

        <div class="form__input">
          <button mat-stroked-button class="button">
            <mat-icon>pin_drop</mat-icon>
          </button>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Local da infração:</mat-label>
            <input matInput placeholder="AVENIDA JOÃO XXIII">
          </mat-form-field>
          <button mat-stroked-button class="button">
            <mat-icon>pin_drop</mat-icon>
          </button>
        </div>

        <form class="form__input">
          <mat-form-field appearance="outline" class="form__enquad">
            <mat-label>Selecione o enquadramento:</mat-label>
            <input matInput
                  aria-label="State"
                  [matAutocomplete]="auto"
                  [formControl]="codCtrl">
            <mat-icon matSuffix>expand_more</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let enquadramento of filteredCods | async" [value]="enquadramento.codDescricao">
                <small>{{ enquadramento.codDescricao }}</small> |
                <small>{{ enquadramento.amparo }}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <mat-form-field appearance="outline">
          <mat-label>Observação:</mat-label>
          <textarea matInput placeholder="Ex.: It makes me feel..."></textarea>
          <mat-icon matSuffix>receipt</mat-icon>
        </mat-form-field>

        <div class="form__input">
          <button mat-stroked-button class="button">
            <mat-icon>
                local_police
            </mat-icon>
          </button>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Medida administrativa:</mat-label>
            <input matInput placeholder="VEICULO REMOVIDO">
          </mat-form-field>
          <button mat-stroked-button class="button">
            <mat-icon>local_police</mat-icon>
          </button>
        </div>

        <div class="form__input">
          <button mat-stroked-button class="button">
            <mat-icon>event</mat-icon>
          </button>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Data:</mat-label>
            <input matInput placeholder="12/10/2023">
          </mat-form-field>
          <button mat-stroked-button class="button">
            <mat-icon>event</mat-icon>
          </button>
        </div>

        <div class="form__input">
          <button mat-stroked-button class="button">
            <mat-icon>alarm</mat-icon>
          </button>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Hora:</mat-label>
            <input matInput placeholder="10:12">
          </mat-form-field>
          <button mat-stroked-button class="button">
            <mat-icon>alarm</mat-icon>
          </button>
        </div>

        <div class="form__input">
          <button mat-stroked-button class="button">
            <mat-icon>do_not_disturb_on</mat-icon>
          </button>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Houve abordagem:</mat-label>
            <input matInput placeholder="SIM">
          </mat-form-field>
          <button mat-stroked-button class="button">
            <mat-icon>do_not_disturb_on</mat-icon>
          </button>
        </div>

        <button mat-raised-button color="primary">
          ENVIAR
        </button>
      </div>
    </form>
  </div>
</div>
