.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-form {
    display: flex;
    align-items: center;
    max-width: 40%;
}

.main-full-width {
  width: 100%;
}

table {
  width: 100%;
}
